<!--
 * @Description: 
 * @version: 
 * @Author: henggao
 * @Date: 2019-10-10 19:10:35
 * @LastEditors: henggao
 * @LastEditTime: 2019-10-10 20:40:40
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <cpn :number1='num1' :number2='num2' @num1change='num1change' @num2change='num2change'>
        </cpn>
    </div>

    <!-- 子组件 -->
    <template id='cpn'>
        <div>
            <h2>props:{{number1}}</h2>
            <h2>data:{{dnumber1}}</h2>
            <input type="text" v-model='dnumber1'>
            <!-- <input type="text" v-bind:value='dnumber1' @input='dnumber1 = $event.target.value'> -->
            <!-- <input type="text" v-bind:value='dnumber1' @input='num1Input'> -->
            <h2>props:{{number2}}</h2>
            <h2>data:{{dnumber2}}</h2>
            <input type="text" v-model='dnumber2'>
            <!-- <input type="text" v-bind:value='dnumber2' @input='dnumber2 = $event.target.value'> -->
            <!-- <input type="text" v-bind:value='dnumber2' @input='num2Input'> -->
        </div>
    </template>
    <script src="../js/vue.js"></script>
    <script>
        // 子组件
        const cpn = {
            template: 'cpn'
        }

        // 父组件
        const app = new Vue({
            el: '#app',
            data: {
                num1: 1,
                num2: 0,
            },
            methods: {
                num1change(value) {
                    // console.log(typeof value)
                    // this.num1 = value * 1
                    this.num1 = parseFloat(value)
                },
                num2change(value) {
                    this.num2 = parseFloat(value)
                }
            },
            components: {
                cpn: {
                    template: '#cpn',
                    props: {
                        number1: Number,
                        number2: Number
                    },
                    data() { //组件中的data必须是函数
                        return {
                            dnumber1: this.number1,
                            dnumber2: this.number2
                        }
                    },
                    watch: {
                        dnumber1(newValue) {
                            this.dnumber2 = this.dnumber1 * 100 //改变input的值
                            this.$emit('num2change', this.dnumber2) //改变props的值
                        },
                        dnumber2(newvalue) {
                            this.dnumber1 = this.dnumber2 / 100;
                            this.$emit('num1change', this.dnumber1);
                        }
                    }
                }
            }
        })
    </script>
</body>

</html>